
.projects-container {
    position: relative;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sec-ttl--projects {
    background: #1A936F;
}

.proj-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------PROJ CARDS------------ */
.projCard-container {
    position: relative;
    max-height: auto;
    width: 60vw;
    min-width: 335px;
    margin: 30px 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.card-icon {
    position: absolute;
    top: -15px;
    right:-15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.card-icon__img {
    height: 40px;
    width: 40px;
}

.card-icon--mystery,
.card-icon--mystery-lg {
    background: #F9E278;
}

.card-icon--books ,
.card-icon--books-lg {
    background: #E4CF96;
}

.card-icon--run,
.card-icon--run-lg {
    background: #7F669F;
}

.proj-view {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.proj-view__desktop {
    position: relative;
    z-index: 1;
}

.desktop-img {
    position: absolute;
    top: 11px;
    left: 9px;
    height:166px;
    z-index: 0;
}

.proj-view__mobile {
    position: absolute;
    bottom: -10px;
    right: -15px;
    z-index: 2;
}

.mobile-img {
    position: absolute;
    bottom: -5px;
    right:-11px;
    height: 75px;
    z-index: 1;
}

.info-sec *{
    color: black;
}

.info-sec {
    align-self: flex-start;
    width: 100%;
}

.info-header,
.proj-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-header__title {
    margin-bottom: 0;
    font-weight: 700;
}

.info-header__lnks {
    margin: 15px;
}

.info-lnks {
    color: white;
    font-weight: 700;
    padding: 6px 20px 0px 20px;
    border-radius: 5px;
    margin: 2px 5px;
    border: solid currentColor 2px;
}

.info-lnks--live {
    background: #1c9cd5;
}

.info-lnks--live:hover {
    background: none;
    color:#1c9cd5;
    border: solid #1c9cd5 2px;
}

.info-lnks--github {
    background: rgb(144, 194, 97);
}

.info-lnks--github:hover {
    background: none;
    color: rgb(144, 194, 97);
    border: solid rgb(144, 194, 97) 2px;
}

.proj-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.proj-info h3 {
    font-size: 16px;
    font-weight: 700;
}

.proj-info p {
    margin: 0;
}

.proj-info--text p {
    margin: 0 0 0 10px;
}

.proj-info__details {
    margin: 0;
    padding-left: 20px;
}

.text-container {
    margin-bottom: 10px;
}

.tools__title,
.text__title {
    margin: 0 0 0 10px;
}

.icon-group {
    display: flex;
    flex-wrap: wrap;
}

.proj-icon {
    display: inline-block;
    margin: 2px 5px;
}

.proj-icon img {
    display: block;
    margin: auto;
    height: 40px;
    width: 40px;
}

.proj-icon p {
    font-size: 12px;
    width: 55px;
    text-align: center;
    margin-top: 5px;
    line-height: 10px;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .projects-container:before {
        content: '';
        border-bottom: solid #c6dabf  40px;
        border-right: solid transparent 65px;
        border-left: solid transparent 65px;
        position: absolute;
        top: -40px;
        right: 0;
    }
    .projects-container:after {
        content: '';
        border-bottom: solid #c6dabf  30px;
        border-right: solid transparent 45px;
        border-left: solid transparent 45px;
        position: absolute;
        top: -30px;
        right:15px;
        margin-right: 50px;
    }
    .sec-ttl {
        margin-top: -10px;
        border-radius: 0 0 25px 0;
    }

    .projCard-container {
        width: 45vw;
    }

    .card-icon img {
        height: 60px;
        width: 60px;
    }

    .proj-view__desktop {
        height: 225px;
    }

    .desktop-img {
        height: 194px;
        top: 14px;
    }

    .proj-view__mobile {
        height: 115px;
    }

    .mobile-img {
        height: 95px;
        bottom: -2px;
        right: -9px;
    }

    .proj-info--text {
        flex-direction: row;
    }

    .proj-info--text div {
        width: 50%;
    }

    .proj-info h3 {
        font-size: 24px;
    }

    .proj-icon img {
        height: 45px;
        width: 45px;
    }

    .proj-icon p {
        font-size: 18px;
    }

    .icon-group {
        margin: 10px 0;
    }

    .proj-icon {
        margin: 5px 25px;
    }

    .proj-icon p {
        width: 75px;
        line-height: 15px;
    }
}
/* tablets/desktops and up ----------- */
@media screen and (min-width: 992px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}