:root {
    --proj-bg: #8da1a7;
}

.projects-container {
    position: relative;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #8da1a7;
}

.projects-container:before {
    content: '';
    border-bottom: solid var(--proj-bg)  40px;
    border-right: solid transparent 65px;
    border-left: solid transparent 65px;
    position: absolute;
    top: -35px;
    left: 5px;
}
.projects-container:after {
    content: '';
    border-bottom: solid var(--proj-bg) 30px;
    border-right: solid transparent 45px;
    border-left: solid transparent 45px;
    position: absolute;
    top: -25px;
    left:60px;
}

.sec-ttl--projects {
    background: var(--proj-bg);
}

.projects-dscrpt {
    font-size: 18px;
    margin: 0 0 0 50px;

}

.proj-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

/* --------PROJ CARDS------------ */
.projCard-container {
    position: relative;
    max-height: auto;
    width: 250px;
    margin: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    z-index: 1;
}

.card-icon {
    position: absolute;
    top: -25px;
    right:-10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    z-index: 3;
    transition: all 500ms ease;
}

.card-icon__img {
    height: 30px;
    width: 30px;
}

.card-icon--mystery,
.card-icon--mystery-lg {
    background: #F9E278;
}

.card-icon--books ,
.card-icon--books-lg {
    background: #E4CF96;
}

.card-icon--run,
.card-icon--run-lg {
    background: #7F669F;
}

.card-icon--game,
.card-icon--game-lg {
    background: rgb(101, 210, 167);
}

.proj-lnk {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    text-decoration: none;
    z-index: 3;
    opacity: 0;
    transition: all ease 700ms;
}

.proj-view {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
}

.proj-view:hover::after {
    opacity: 0.4;
    transition: all ease 700ms;
}

.proj-view:hover .proj-lnk {
    opacity: 1;
    transition: all ease 700ms;
}

.proj-view:hover .main-img {
    transform: scale(1.1);
    transition: all ease 700ms;
}

.proj-view:hover ~ .card-icon{
    animation: icon-shake linear 150ms;
    animation-iteration-count: 3;
}

.proj-view::after {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease 700ms;
}

.main-img {
    position: relative;
    top: 0px;
    left: 0px;
    height:100%;
    width: 100%;
    z-index: 0;
    transition: all ease 700ms;
}

.info-sec *{
    color: black;
}

.info-sec {
    align-self: flex-start;
    width: 100%;
}

.info-header,
.proj-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-header__title {
    margin: 5px;
    font-size: 18px;
    font-weight: 700;
}

.proj-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -10px 5px 5px 0;
}

.proj-info--text p {
    margin: 0 0 0 10px;
}

.text-container {
    margin: 10px 0;
}

/* Animations ----------- */
@keyframes icon-shake {
    33% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}