:root {
    --nav-ht: 6vh;
    --ani-dur: 3000ms;
  }
.hero-container {
    padding-top: 35px;
    position: relative;
    width: 100vw;   
    background: #231f1c;
}

button {
    background: none;
    outline: none;
    border: none;
}

.parallax-container {
    position: relative;
    min-height: 800px;
    height: 100vh;
    max-height: 1000px;
    min-width: 100vw;
    overflow: hidden;
}

.hero__mtn {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
}

.hero__mtn-svg {
    width: 100vw;
    min-width: 500px;
    visibility: visible !important;
}

.hero__intro {
    position: absolute;
    color: #F3E9D2;
    top:5%;
    left: 5%;
    z-index: 1;
    text-align: left;
}

.contact-msg {
    display: none;
    position: absolute;
    top: 137px;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.6);
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    width: 40vw;
    max-width: 275px;
    z-index: 5;
}

.contact-msg:focus {
    display: flex;
}

.svg-animate{
    position: absolute;
    top: 140px;
    left:0;
}

.svg-animate ellipse:nth-child(1) {
    animation: blink var(--ani-dur) ease infinite;
}
.svg-animate ellipse:nth-child(2) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 500ms;
}
.svg-animate ellipse:nth-child(3) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 850ms;
}
.svg-animate ellipse:nth-child(4) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 1200ms;
}
.svg-animate ellipse:nth-child(5) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 3200ms;
}
.svg-animate ellipse:nth-child(6) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 2245ms;
}
.svg-animate ellipse:nth-child(7) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 640ms;
}
.svg-animate ellipse:nth-child(8) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 3370ms;
}
.svg-animate ellipse:nth-child(9) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 4500ms;
}
.svg-animate ellipse:nth-child(10) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 1230ms;
}
.svg-animate ellipse:nth-child(11) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 4000ms;
}
.svg-animate ellipse:nth-child(12) {
    animation: blink var(--ani-dur) ease infinite;
    animation-delay: 2670ms;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media only screen and (min-width: 481px) {
    .hero__mtn {
        transform: auto;
    }
    .hero__intro {
        font-size: 5vw;
        top: 7%;
        left: 2%;
    }

    .trail__flag {
        height: 45px;
        top: calc(38% - 81px);
        right: calc(48% - 28px);
    }

    .trail__btn:hover {
        background: white;
        box-shadow: 1px 1px 5px rgb(219, 219, 219), -1px 1px 5px rgb(219, 219, 219), 1px -1px 5px rgb(219, 219, 219), -1px -1px 5px rgb(219, 219, 219);
    }

    .trail__btn--connect:hover~p.trail__label--connect,
    .trail__btn--about:hover~p.trail__label--about,
    .trail__btn--projects:hover~p.trail__label--projects{
        opacity: 1;
}

    .trail__label {
        font-size: 24px;
    }

    .trail__btn--connect {    
        bottom: 22%;
        left: 20%;
    }
    
    .trail__label--connect {
        bottom: -40px;
        left: 25px;
    }
    
    .trail__btn--about {
        bottom: 44%;
        right: 20%;
    }
    
    .trail__label--about {
        bottom: -42px;
        right: -59px;
    }

    .trail__btn--projects {
        bottom: 62%;
        right: 48%;
    }
    
    .trail__label--projects {
        bottom: -30px;
        left: -90px;
    }
    
}
/* tablets/desktops and up ----------- */
@media only screen and (min-width: 992px) {
    .hero__intro {
        top: 10%;
    }

    .trail__flag {
        height: 65px;
        top: 22%;
        right: 48%;
    }
    .trail__label {
        font-size: 24px;
    }

    .trail__btn--connect {    
        bottom: 23%;
        left: 23%;
    }
    
    .trail__label--connect {
        bottom: -28px;
        left: -90px;
    }
    
    .trail__btn--about {
        bottom: 44%;
        right: 30%;
    }
    
    .trail__label--about {
        bottom: -30px;
        right: -65px;
    }

    .trail__btn--projects {
        bottom: 64%;
        right: 52%;
    }
    
    .trail__label--projects {
        bottom: -30px;
        left: 30px;
    }
}
/* large desktops and up ----------- */
@media only screen and (min-width: 1200px) {
    .hero__intro {
        font-size: 64px;
    }

    .trail__flag {
        top: calc(30% - 60px);
        right: calc(52% - 45px);
    }
}