.hero-container {
    padding-top: 8vh;
    position: relative;
    width: 100vw;   
}

button {
    background: none;
    outline: none;
    border: none;
}

svg {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 0%;
    z-index: 0;
}

.hero__intro {
    position: absolute;
    color: #F3E9D2;
    top:21%;
    left: 10%;
    z-index: 1;
    text-align: left;
}

.trail {
    position: relative;
}

.trail__img {
    display: block;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: -3px;
}

.trail__flag {
    position: absolute;
    top: 45%;
    right: 27%;
    z-index: 1;
}

.trail__btn {
    position: absolute;
    cursor: pointer;
    background: rgb(163, 158, 146);
    padding: 12px;
    border-radius: 50%;
    z-index: 1;
}

.trail__btn:focus {
    animation: blink-light 2s linear;
}

.trail__btn--connect:focus~p.trail__label--connect,
.trail__btn--about:focus~p.trail__label--about,
.trail__btn--projects:focus~p.trail__label--projects{
    opacity: 1;
}

.trail__label {
    position: absolute;
    font-size: 16px;
    opacity: 0.7;
    z-index: 1;
}

.trail__btn--connect {    
    bottom: 10%;
    left: 10%;
}

.trail__label--connect {
    bottom: calc(-35px + 10%);
    left: calc(-16px + 10%);
}

.trail__btn--about {
    bottom: 30%;
    right: 13%;
}

.trail__label--about {
    bottom: calc(-37px + 30%);
    right: calc(-30px + 13%);
}

.trail__btn--projects {
    bottom: 45%;
    right: 36%;
}

.trail__label--projects {
    bottom: calc(-15px + 45%);
    left: calc(-80px + 64%);
}

@keyframes blink-light {
    0%, 20%, 50%, 71%, 100% {
        background:rgb(163, 158, 146);
        box-shadow: none;
    }
    1%, 10%, 51%, 61% {
        background: white;
        box-shadow: 1px 1px 5px rgb(219, 219, 219), -1px 1px 5px rgb(219, 219, 219), 1px -1px 5px rgb(219, 219, 219), -1px -1px 5px rgb(219, 219, 219);
    }
}


@media only screen and (min-width: 481px) {
    .hero__intro {
        font-size: 48px;
    }

    .trail__flag {
        height: 45px;
        top: 45%;
        right: 43%;
    }

    .trail__btn:hover {
        background: white;
        box-shadow: 1px 1px 5px rgb(219, 219, 219), -1px 1px 5px rgb(219, 219, 219), 1px -1px 5px rgb(219, 219, 219), -1px -1px 5px rgb(219, 219, 219);
    }

    .trail__btn--connect:hover~p.trail__label--connect,
    .trail__btn--about:hover~p.trail__label--about,
    .trail__btn--projects:hover~p.trail__label--projects{
        opacity: 1;
}

    .trail__label {
        font-size: 24px;
    }

    .trail__btn--connect {    
        bottom: 8%;
        left: 20%;
    }
    
    .trail__label--connect {
        bottom: calc(-40px + 8%);;
        left: calc(25px + 20%);
    }
    
    .trail__btn--about {
        bottom: 26%;
        right: 27%;
    }
    
    .trail__label--about {
        bottom: calc(-42px + 26%);
        right: calc(-59px + 27%);
    }

    .trail__btn--projects {
        bottom: 42%;
        right: 48%;
    }
    
    .trail__label--projects {
        bottom: calc(-30px + 42%);
        left: calc(6px + 52%);
    }
    
}
/* tablets/desktops and up ----------- */
@media only screen and (min-width: 992px) {
    .hero__intro {
        font-size: 64px;
    }

    .trail__flag {
        height: 65px;
        top: 43%;
        right: 25%;
    }
    .trail__label {
        font-size: 24px;
    }

    .trail__btn--connect {    
        bottom: 11%;
        left: 38%;
    }
    
    .trail__label--connect {
        bottom: calc(-28px + 11%);
        left: calc(-90px + 38%);
    }
    
    .trail__btn--about {
        bottom: 26%;
        right: 17%;
    }
    
    .trail__label--about {
        bottom: calc(-30px + 26%);
        right: calc(-65px + 17%);
    }

    .trail__btn--projects {
        bottom: 42%;
        right: 30%;
    }
    
    .trail__label--projects {
        bottom: calc(-30px + 42%);
        left: calc(7px + 70%);
    }
}
/* large desktops and up ----------- */
@media only screen and (min-width: 1200px) {
    
}