.about-container,
.about-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #617d91;
}

.about-container:before {
    content: '';
    border-bottom: solid #88D498  40px;
    border-right: solid transparent 65px;
    border-left: solid transparent 65px;
    position: absolute;
    top: -40px;
    left: 5px;
}
.about-container:after {
    content: '';
    border-bottom: solid #88D498  30px;
    border-right: solid transparent 45px;
    border-left: solid transparent 45px;
    position: absolute;
    top: -30px;
    left: 70px;
}

.sec-ttl--about {
    background: #88D498;
}

.about-content {
    margin:0 10px;
}

.about-text {
    max-width: 400px;
    font-size: 20px;
    margin: 10% 0 20% 0;
    align-self: center;
}

.about-text__blurb {
    margin: 0;
}

.about-text__sig {
    margin: 0;
}

.skill-cards {
    position: relative;
    max-width: 500px;
    margin-right: 65px;
}

.skills-card {
    background: #f5fff1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.skills-card h3, .skills-card p {
    color: black;
}

.skills-card__ttl {
    font-weight: 700;
    margin: 0;
}

.skills-card--programming {
    min-width: 200px;
}

.skills-card--design {
    display: inline-block;
    position: absolute;
    top: -80px;
    right: -75px;
    background: #88D498;
}

.about-links {
    margin-top: 5%;
    align-self: flex-end;
}

.link-icon {
    display: inline-block;
    margin: 2px 5px;
    text-decoration: none;
}

.link-icon img {
    display: block;
    margin: auto;
    height: 30px;
    width: 30px;
}

.link-icon p {
    font-size: 12px;
    width: 55px;
    text-align: center;
    margin-top: 5px;
    line-height: 10px;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .about-content {
        width: 100vw;
    }

    .about-text {
        margin: 20px 0 100px 20px;
        align-self: flex-start;
    }

    .skills-card--programming {
        max-width: 400px;
    }

    .skills-card--design {
        top: -115px;
        right: -90px;
    }
}

/* tablets/desktops and up ----------- */
@media only screen and (min-width: 992px) {
    .about-container {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }

    .about-content {
        position: static;
        flex-direction: row;
        justify-content: flex-start;
        margin: 110px 1vw 2vw 1vw;
    }

    .about-text {
        margin: -65px 45px 0 0;
    }

    .skill-cards {
        margin-top: 20px;
    }

    .about-links {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
    }
}
/* large desktops and up ----------- */
@media only screen and (min-width: 1200px) {
    .about-content {
        justify-content: center;
    }

    .about-text {
        position: absolute;
        top: 150px;
        left: 20px;
        max-width: 50%;
        font-size: 24px;
    }

    .skill-cards {
        margin-left: 50px;
        margin-top: 150px;
    }

    .skills-card--programming {
        width: 500px;
        max-width: 500px;
    }
    
}