:root {
  --nav-ht: 6vh;
}
.App, button, a, p, h1, h2, h3, h4, h5 {
  font-family: Khula, sans-serif;
  color: white;
  font-weight: 300;
}

button, a {
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

.anchor-pt {
  position:absolute;
  top: var(--nav-ht);
}

.sec-ttl {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-top: 0;
  align-self: flex-start;
  padding: 5px 10px 0 5px;
  border-radius: 0 0 25px 0;
}

.sec-ttl__title {
  font-size: 35px;
  line-height: normal;
  margin: 0 10px;
}

.sec-ttl__icon {
  height: 45px;
}