@font-face {
  font-family: 'Khula';
  src: url('./fonts/Khula-Light.ttf'),
       url('./fonts/Khula-Bold.ttf') format('ttf');
}

body {
  overflow-x: hidden;
  background: #C6DABF;
}

body {
  margin: 0;
  font-family: Khula, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
